* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
