@use '@/app/styles/mixins';
@use '@/app/styles/media';

.tags {
  position: relative;

  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--color-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  &__list {
    @include mixins.reset-list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    row-gap: 8px;
  }

  &__item {
    display: flex;
    column-gap: 17px;
  }

  &__button {
    height: 40px;

    &_add {
      position: absolute;
      bottom: 0;
      left: 420px;

      @include media.mobile {
        position: static;
        margin-top: 10px;
      }
    }
  }
}

.input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), var(--color-focus));
  }

  &:focus {
    border-color: var(--color-primary);
  }
}
